.container-footer {
    display: flex;
    flex-direction: row;
    height: 55vh;
    width: 100vw;
    background-color: #E5E8E8;
    justify-content: space-around;
}

h3 {
    margin-top: 30px;
}

.about-mari-footer {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.info-footer {
    display: flex;
    flex-direction: column;
}

.contact-footer {
    display: flex;
    flex-direction: column;
}