.container-bags {
    overflow-x: hidden;
    max-height: 74vh;
    
}

.container-banner-bags {
    width: 100vw;
    height: 350px;
    position: relative;
}

.container-banner-bags img {
    width: 100vw;
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.container-banner-bags p {
    position: absolute;
    top: 280px;
    left: 50vw;
    color: #cc1d17;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-shadow: .5px .5px 20px #ffffff;
    font-weight: 600;
}

/*------------GALERIA DE BOLSAS-------------*/
.gallery-bags {
    display: flex;
    flex-direction: column;
}

.gallery-bags h3 {
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 2.1rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: .2px .2px .5px black;
}

.container-galery-bags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
}

.container-galery-bags ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: 11vw;
    gap: 30px;
}

.gallery-bags ul li {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #0a0a0a2d, #b6aeae2d);
    width: 280px;
    height: 580px;
    border-radius: 12px;
}

.gallery-bags ul li img {
    width: 220px;
    height: 300px;
    align-self: center;
    margin-top: 20px;
}

.gallery-bags ul li p {
    color: #000;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.add-remove-cart-bag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.add-remove-cart-bag button {
    width: 50px;
    height: 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
    background-color: #12B2BF;
    border-radius: 10px;
    margin-top: -4px;
    cursor: pointer;
}

.add-remove-cart-bag button:hover {
    background-color: #12b1bf7e;
}

.btn-finally-galery-bag {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    align-self: center;
}

.btn-finally-galery-bag button {
    width: 200px;
    height: 30px;
    border-radius: 12px;
    background-color: #12B2BF;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    text-shadow: .2px .2px 2px black;
    cursor: pointer;
}

.btn-finally-galery-bag button:hover {
    background-color: #12b1bf7e;
}
