.container-main-home {
    overflow-x: hidden;
    max-height: 74vh;
}

.container-banner-home {
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 470px;
}

.slides-banner-home {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.slide-next {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeImagens 9s infinite;
}

.slide-next:nth-child(1) {
    animation-delay: 0s;
}

.slide-next:nth-child(2) {
    animation-delay: 3s;
}

.slide-next:nth-child(3) {
    animation-delay: 6s;
}

@keyframes fadeImagens {
    /* Oculta no início */
    0% { opacity: 0; }
    
    /* Aparece na tela (transição suave) */
    11% { opacity: 1; }
    
    /* Permanece visível por um tempo */
    33% { opacity: 1; }
    
    /* Começa a desaparecer (transição suave) */
    44% { opacity: 0; }
    
    /* Permanece invisível até a próxima exibição */
    100% { opacity: 0; }
}

/*.slide-atual {
    opacity: 1;
}*/

.frame-mari {
    width: 100vw;
}

.frame-mari video {
    background-color: #fdffff;
    width: 50vw;
    height: 40vh;
}

.frame-mari-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Animação para o cursor piscando */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.frame-mari-text h3 {
    color: #12B2BF;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 1.9rem;
    text-shadow: .5px .5px 1px black;
    font-style: italic;
    overflow: hidden;
    border-right: .15em solid rgb(224, 224, 223);
    white-space: nowrap;
    width: 0;
    animation: typing .2s steps(200, end) forwards,
               blink-caret .75s step-end infinite;
}

.frame-mari-text p {
    text-align: center;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fdfdfd;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #00f,
    0 0 20px #00f,
    0 0 30px #00f;
    animation: flicker 1.5s infinite alternate; /* Aplica a animação */
}

@keyframes flicker {
  0%, 100% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #00f,
      0 0 20px #00f,
      0 0 30px #00f;
  }
  50% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #00f,
      0 0 20px #00f;
  }
}

.icon-video {
    font-size: 1rem;
}

.videos {
    display: flex;
    flex-direction: row;
}

.video-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video-product span {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    color: #000;
    text-shadow: .5px .5px 2px white;
}

.top5-week {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #05a8a8cc;
}

.top5-week h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-shadow: .2px .2px 2px black;
}

.top5-week p {
    text-align: center;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    text-shadow: .2px .2px 1px black;
    padding-bottom: 20px;
}

.top5-week-products {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.img-top5 {
    width: 200px;
    height: 200px;
    align-self: center;
}

.top5-product {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.top5-product span {
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: .3px .3px 3px black;
}

/*------------------GALERIA DE PRODUTOS------------------*/
.gallery-products {
    display: flex;
    flex-direction: column;
    position: relative;
}

.gallery-products h3 {
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 2.1rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: .2px .2px .5px black;
}

.container-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
}

.container-gallery ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: 11vw;
    gap: 30px;
}

.gallery-products ul li {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #0a0a0a2d, #b6aeae2d);
    width: 280px;
    height: 580px;
    border-radius: 12px;
}

.gallery-products ul li img {
    width: 220px;
    height: 300px;
    align-self: center;
    margin-top: 20px;
}

.gallery-products ul li p {
    color: #000;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.add-remove-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.add-remove-cart button {
    width: 50px;
    height: 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
    background-color: #12B2BF;
    border-radius: 10px;
    margin-top: -4px;
    cursor: pointer;
}

.add-remove-cart button:hover {
    background-color: #12b1bf7e;
}

.btn-finally-galery {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    align-self: center;
}

.btn-finally-galery button {
    width: 200px;
    height: 30px;
    border-radius: 12px;
    background-color: #12B2BF;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    text-shadow: .2px .2px 2px black;
    cursor: pointer;
}

.btn-finally-galery button:hover {
    background-color: #12b1bf7e;
}

/*---------------------MODAL DETALHES--------------------*/
.modal-details {
    width: 400px;
    height: 80vh;
    background-color: #eeeeee;
    justify-self: right;
    position: absolute;
    top: 25vh;
}

.container-modal-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.title-details {
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #ffffff;
    height: 80px;
    border-radius: 10px;
}

.title-details h3 {
    margin-left: 20px;
    color: #12B2BF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: .2px .2px .2px black;
    font-size: 1rem;
    font-style: italic;
}

.title-details button {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.description-details {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 30px;
    border-radius: 10px;
}

.description-details-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.description-details img {
    width: 350px;
    height: 110px;
    margin-left: 20px;
}

.description-details p {
    font-weight: 500;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.info-details {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 30px;
    border-radius: 10px;
}

.info-details p {
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    font-style: italic;
}

.btn-close-modal {
    height: 40px;
    width: 345px;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: #12B2BF;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: .5px .5px 2px black;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-close-modal:hover {
    background-color: #12b1bf98;
}